.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

h1{

	
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
  color: blue;
}

.photo-item img {
	text-align: center;

}

img{
	text-align: center;

}

h1:hover {
	color: purple;
	cursor: pointer;
}
	
