.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-between;
}

h1{

	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 50px;
	font-weight: 700;
  color: blue;
}

.photo-item img {
	width: 600px !important;
}

h1:hover {
	color: purple;
	cursor: pointer;
}
	
